.header {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    width: 50%;
  }

  .right {
    width: 50%;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    .speed-metor-image {
      img {
        width: 100%;
        height: 300px;
      }
    }
  }
}

.logo {
  width: 298px;
}

.info {
  margin-top: 10px;
  font-family: Helvetica, Arial, sans-serif, -apple-system;
  line-height: 2rem;
  color: #5c5a5a;
  font-size: 1.2rem;

  .link {
    color: #8037ca;
    text-decoration: none;
  }
}

@media only screen and (max-width: 450px) {
  .header {
    .left {
      width: 100%;
    }
    .right {
      display: none;
    }
  }

  .logo {
    width: 70%;
    padding: 0 10px;
  }

  .info {
    padding: 0 20px;
  }
}
