.social-media-icons {
  margin-top: 15px;
  color: white;
  width: 100%;

  .icons {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 32px;
    gap: 43px;

    a:hover {
      border-bottom: 2px solid #8037ca;
      transition-timing-function: ease-out;
      transition: 0.1s;
    }

    .kommunity {
      img {
        width: 26px;
      }
    }
    .linkedin {
      img {
        width: 32px;
      }
    }
  }
}
