.next-event-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  font-family: "Sarala", sans-serif;
  background-image: url("../../public/images/next-event-background.png");
  background-size: cover;
  margin-top: 25px;

  .lecturer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    .avatar {
      img {
        width: 270px;
        height: 270px;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid white;
      }
      padding-bottom: 10px;
    }

    .name {
      color: white;
      font-size: 28px;

      font-weight: bold;
      padding-bottom: 5px;
    }

    .company-name {
      color: white;
      font-size: 28px;

      font-style: italic;
      font-weight: 100;
    }
  }

  .next-event-content {
    .next-event-title {
      display: flex;
      align-items: center;
      padding-left: 50px;

      .next-event-badge {
        background-color: yellow;
        padding: 5px;
        border-radius: 6px;
        font-size: 32px;
        font-weight: bold;
      }

      .next-event-count-down {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 6px;
        padding: 5px;
        font-size: 24px;
        margin-left: 10px;
        color: #fff;

        svg {
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }

        .live-stream-link {
          color: white;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }

    .event-name {
      color: white;
      font-size: 85px;
      font-weight: 400;
      padding-left: 50px;
      max-width: 530px;
      font-weight: bold;
      font-family: "Sarala", sans-serif;
      letter-spacing: 4px;
      line-height: 92px;
      text-shadow: 4px 4px rgb(0 0 0 / 60%);
    }

    .event-detail {
      display: flex;
      padding-left: 50px;
      margin-top: 20px;

      .time {
        color: white;
        font-size: 28px;
        font-weight: bold;
        padding-right: 10px;
        max-width: 100px;
        margin-right: 20px;
        line-height: 35px;
      }

      .seperator {
        width: 4px;
        height: 60px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 4px;
      }

      .social-redirection {
        display: flex;
        flex-direction: column;
        margin-left: 20px;

        .kommunity,
        .youtube {
          display: flex;
          align-items: center;
        }

        .kommunity {
          margin-bottom: 4px;

          a img {
            width: 200px;
            height: 20px;
          }
        }

        .youtube a img {
          width: 100px;
          height: 20px;
        }

        .kommunity > :nth-child(1),
        .youtube > :nth-child(1) {
          background-color: rgba(255, 255, 255, 0.5);
          padding: 5px;
          border-radius: 6px;
        }

        .kommunity > :nth-child(2),
        .youtube > :nth-child(2) {
          margin-left: 5px;
          color: #fff;
          font-size: 24px;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .next-event-card {
    height: 720px;
    flex-direction: column-reverse;

    .lecturer {
      margin-top: 20px;
      .avatar {
        img {
          width: 220px;
          height: 220px;
        }
      }
    }

    .next-event-content {
      .next-event-title {
        padding-left: unset;
        flex-direction: column;

        .next-event-count-down {
          margin-left: unset;
        }
      }

      .event-name {
        font-size: 44px;
        text-align: center;
        font-weight: bold;
        line-height: 62px;
        padding-left: unset;
      }

      .event-detail {
        align-items: center;
        flex-direction: column;
        padding-left: unset;

        .time {
          white-space: nowrap;
          display: flex;
          justify-content: center;
          margin-bottom: 15px;
          padding: unset;
        }

        .seperator {
          display: none;
        }

        .social-redirection {
          margin-left: unset;
        }
      }
    }
  }
}
