.previous-event-card {
  font-family: Helvetica, Arial, sans-serif, -apple-system;
  height: 220px;
  width: 45%;
  padding: 10px 15px;
  background-color: #fff;
  box-shadow: 0 0 30px rgb(0 0 0 / 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  .event-content {
    width: 75%;
    margin-left: 15px;

    .title p {
      font-size: 23px;
      font-weight: bold;
      line-height: 1.3;
      margin-bottom: 5px;
    }

    .date p {
      font-size: 17px;
    }

    .description p {
      margin-top: 15px;
    }

    .event-redirection-button {
      a {
        text-decoration: none;
        color: #8036ca;
      }

      p {
        margin-top: 20px;
      }
    }
  }

  .lecturer-wrapper {
    text-decoration: none;
    width: 25%;
    color: black;

    .lecturer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .name {
        font-size: 16px;
        white-space: nowrap;
      }

      .company-name {
        font-size: 14px;
        margin-top: 4px;
        font-style: italic;
      }

      .avatar {
        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
          border-radius: 50%;
          // border: 3px solid #8037ca;
          box-shadow: 0 0 30px rgb(0 0 0 / 20%);
        }
        padding-bottom: 10px;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .previous-event-card {
    height: 333px;
    width: 85%;
    background-color: #fff;
    flex-direction: column-reverse;

    .event-content {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-left: unset;
      width: 90%;
    }
  }
}
